@charset "UTF-8";
body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
  margin: 0 auto; }

header {
  border-bottom: 2px solid;
  border-color: #ddd;
  background-color: #323232;
  position: relative;
  width: 100%;
  /*min-width: 1030px;*/
  height: 80px; }
  header .header-block {
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 20%; }
    header .header-block h1 {
      width: 110px;
      margin: 0;
      display: inline-block; }
      header .header-block h1 a {
        display: block; }
        header .header-block h1 a img {
          width: 100%; }
    header .header-block .header_nav {
      display: inline-block;
      list-style: none;
      position: relative;
      top: 15px; }
      header .header-block .header_nav li {
        float: left;
        color: white;
        margin-left: 2em;
        margin-right: 2em;
        font-size: 17px; }
        header .header-block .header_nav li a {
          color: white; }
          header .header-block .header_nav li a:hover {
            color: #4c81b3; }
      header .header-block .header_nav li.contact_menu ul.contact_submenu {
        display: none;
        position: absolute;
        top: 22px;
        right: -118px;
        background-color: #323232;
        padding-bottom: 8px;
        list-style: none;
        padding-left: 0;
        z-index: 11;
        padding-top: 20px; }
        header .header-block .header_nav li.contact_menu ul.contact_submenu li {
          display: block;
          float: none !important;
          margin-top: 0.5em;
          margin-bottom: 0.5em; }
          header .header-block .header_nav li.contact_menu ul.contact_submenu li span {
            margin-left: 1em; }
      header .header-block .header_nav li.contact_menu:hover ul {
        display: block; }
  header .agency_info {
    display: inline-block;
    float: right; }
    header .agency_info .agency {
      display: block;
      position: absolute;
      right: 110px;
      top: 0;
      background-color: gray;
      height: 100%;
      width: 8%; }
      header .agency_info .agency img {
        z-index: 1;
        position: absolute;
        top: 6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 40px; }
      header .agency_info .agency p {
        color: white;
        position: relative;
        top: 40%;
        text-align: center; }
    header .agency_info a {
      text-decoration: none; }
      header .agency_info a .logout-btn {
        display: inline-block;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #b24141;
        height: 100%; }
        header .agency_info a .logout-btn p {
          color: white;
          position: relative;
          top: 30px;
          padding: 0 20px 0px 20px; }

/*メインメニュー*/
.container-fluid {
  margin-top: 60px; }
  .container-fluid .menu-txt {
    text-align: center;
    font-size: 41px; }
  .container-fluid .menu-block {
    border: solid 3px;
    border-radius: 11px;
    width: 65%;
    margin: 0 auto;
    margin-top: 20px; }
    .container-fluid .menu-block .menu-list {
      list-style: none;
      padding: 0 0 30px 0;
      padding-top: 15px;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .container-fluid .menu-block .menu-list .menu-item {
        display: inline-block;
        border: solid 5px;
        border-radius: 124px;
        width: 145px;
        height: 145px;
        position: relative;
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 2em; }
        .container-fluid .menu-block .menu-list .menu-item a {
          color: #4b4b4b;
          display: block;
          width: 100%;
          height: 100%; }
          .container-fluid .menu-block .menu-list .menu-item a span {
            position: absolute;
            top: 100px;
            left: 0px;
            font-size: 15px;
            width: 100%; }
        @media only screen and (max-width: 1140px) {
          .container-fluid .menu-block .menu-list .menu-item {
            margin-left: 1em;
            margin-right: 1em; } }
      .container-fluid .menu-block .menu-list #customer a {
        content: '';
        background: url("/Agc/public/images/customer_icon.png") no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position-x: 50%;
        background-position-y: 40%; }
        .container-fluid .menu-block .menu-list #customer a:hover {
          background: url("/Agc/public/images/customer_icon_sub.png") no-repeat;
          background-position-x: 50%;
          background-position-y: 40%; }
      .container-fluid .menu-block .menu-list #import a {
        content: '';
        background: url("/Agc/public/images/import_icon.png") no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position-x: 50%;
        background-position-y: 40%; }
        .container-fluid .menu-block .menu-list #import a:hover {
          background: url("/Agc/public/images/import_icon_sub.png") no-repeat;
          background-position-x: 50%;
          background-position-y: 40%; }
      .container-fluid .menu-block .menu-list #faq a {
        content: '';
        background: url("/Agc/public/images/faq_icon.png") no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position-x: 50%;
        background-position-y: 40%; }
        .container-fluid .menu-block .menu-list #faq a:hover {
          background: url("/Agc/public/images/faq_icon_sub.png") no-repeat;
          background-position-x: 50%;
          background-position-y: 40%; }
      .container-fluid .menu-block .menu-list #agency_master a {
        content: '';
        background: url("/Agc/public/images/agency_master_icon.png") no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position-x: 50%;
        background-position-y: 40%; }
        .container-fluid .menu-block .menu-list #agency_master a:hover {
          background: url("/Agc/public/images/agency_master_icon_sub.png") no-repeat;
          background-position-x: 50%;
          background-position-y: 40%; }
      .container-fluid .menu-block .menu-list #update_menu a {
        content: '';
        background: url("/Agc/public/images/update_icon.png") no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position-x: 50%;
        background-position-y: 40%; }
        .container-fluid .menu-block .menu-list #update_menu a:hover {
          background: url("/Agc/public/images/update_icon_sub.png") no-repeat;
          background-position-x: 50%;
          background-position-y: 40%; }
      .container-fluid .menu-block .menu-list #csv_download a {
        content: '';
        background: url("/Agc/public/images/csv_download.png") no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position-x: 50%;
        background-position-y: 40%; }
        .container-fluid .menu-block .menu-list #csv_download a:hover {
          background: url("/Agc/public/images/csv_download_sub.png") no-repeat;
          background-position-x: 50%;
          background-position-y: 40%; }
    .container-fluid .menu-block .menu_second .menu-item {
      margin-top: 1em; }

.container {
  width: 90%;
  position: relative; }
  .container h1 {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 45px;
    text-align: center; }
  .container .supply_now_box {
    text-align: center;
    padding-bottom: 30px; }
    .container .supply_now_box p {
      font-size: 6em; }
  .container .row_first .col-md-11.col-md-offset {
    width: 100%;
    margin: 0 auto; }
  .container .row_second_channel .panel-default > .panel-heading {
    border-top: solid 0.5px #ddd; }
  .container .row_second_channel .col-md-11.col-md-offset {
    width: 50%;
    margin: 0 auto;
    display: inline-block; }
  .container .row_second_area .panel-default > .panel-heading {
    border-top: solid 0.5px #ddd;
    border-left: solid 1px #ddd; }
  .container .row_second_area .col-md-11.col-md-offset {
    width: 50%;
    margin: 0 auto;
    display: inline-block; }
    .container .row_second_area .col-md-11.col-md-offset .panel div#container_second_area {
      border-left: solid 1px #ddd; }
  .container .row_third .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top: solid 0.2px #ddd; }
  .container .row_third form#data_search {
    text-align: center; }
  .container .row_third .col-md-11.col-md-offset {
    width: 100%;
    margin: 0 auto; }
    .container .row_third .col-md-11.col-md-offset .search_form1 {
      width: 33%;
      display: inline-block; }
      .container .row_third .col-md-11.col-md-offset .search_form1 label {
        width: 26%;
        text-align: center; }
      .container .row_third .col-md-11.col-md-offset .search_form1 select.form-control.month_box {
        width: 60%; }
    .container .row_third .col-md-11.col-md-offset .search_form2 {
      width: 40%;
      display: inline-block; }
      .container .row_third .col-md-11.col-md-offset .search_form2 label {
        width: 26%;
        text-align: center; }
      .container .row_third .col-md-11.col-md-offset .search_form2 select.form-control.area_box {
        width: 40%; }
    .container .row_third .col-md-11.col-md-offset .form-group {
      text-align: center;
      margin-top: 22px;
      display: inline-block;
      position: relative;
      top: -4px;
      left: -90px; }

.customer_manegement_block .col-sm-3 {
  display: block;
  position: relative;
  top: 10px;
  font-weight: bold; }
.customer_manegement_block .btn_block {
  text-align: center; }
.customer_manegement_block input#supply_no {
  width: 100% !important; }

#graph_detail .search_block .panel-body {
  background-color: #efefef; }
  #graph_detail .search_block .panel-body .form-group {
    margin-bottom: 5px; }
    #graph_detail .search_block .panel-body .form-group .col-sm-2 {
      position: relative;
      top: 8px; }
    #graph_detail .search_block .panel-body .form-group .item-width {
      width: 100% !important; }
  #graph_detail .search_block .panel-body .btn_block {
    text-align: center;
    padding: 25px 0px 25px 0px; }

.confirm_btn {
  text-align: center; }

#confirm_modal {
  display: none;
  width: 80%;
  margin: 0 auto; }
  #confirm_modal .modal-dialog {
    width: 80%; }
    #confirm_modal .modal-dialog .modal-content {
      position: relative;
      top: 185px;
      padding: 0; }
      #confirm_modal .modal-dialog .modal-content h3 {
        text-align: center;
        padding-bottom: 10px; }
      #confirm_modal .modal-dialog .modal-content .table-condensed tr td:nth-child(1) {
        width: 20%;
        text-align: center;
        vertical-align: middle;
        background-color: #295890;
        color: white; }
      #confirm_modal .modal-dialog .modal-content .table-condensed tr td:nth-child(2) {
        width: 80%;
        padding: 20px;
        background-color: #f8f8f8; }
      #confirm_modal .modal-dialog .modal-content .sub_btn {
        text-align: center; }

.contact_manegement_block .col-sm-3 {
  position: relative;
  top: 10px; }
.contact_manegement_block .btn_block {
  text-align: center; }

.middle_block {
  position: relative; }
  .middle_block .csv_output {
    display: inline-block; }
  .middle_block .data_count {
    position: absolute;
    right: 0;
    top: 6px; }
  .middle_block li.page-item, .middle_block span.page-link {
    display: none !important; }

.content_list {
  margin-top: 15px; }
  .content_list td.content {
    width: 300px; }
    .content_list td.content p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }

#detail_modal, #answer_modal, #agency_detail_modal, #agency_add_modal {
  display: none;
  width: 80%;
  margin: 0 auto; }
  #detail_modal .modal-dialog, #answer_modal .modal-dialog, #agency_detail_modal .modal-dialog, #agency_add_modal .modal-dialog {
    width: 80%;
    margin-top: 0; }
    #detail_modal .modal-dialog .modal-content, #answer_modal .modal-dialog .modal-content, #agency_detail_modal .modal-dialog .modal-content, #agency_add_modal .modal-dialog .modal-content {
      position: relative;
      top: 50px;
      padding: 0; }
      #detail_modal .modal-dialog .modal-content h3, #answer_modal .modal-dialog .modal-content h3, #agency_detail_modal .modal-dialog .modal-content h3, #agency_add_modal .modal-dialog .modal-content h3 {
        text-align: center;
        padding-bottom: 10px; }
      #detail_modal .modal-dialog .modal-content .edit_btn, #detail_modal .modal-dialog .modal-content .agency_add_submit, #answer_modal .modal-dialog .modal-content .edit_btn, #answer_modal .modal-dialog .modal-content .agency_add_submit, #agency_detail_modal .modal-dialog .modal-content .edit_btn, #agency_detail_modal .modal-dialog .modal-content .agency_add_submit, #agency_add_modal .modal-dialog .modal-content .edit_btn, #agency_add_modal .modal-dialog .modal-content .agency_add_submit {
        position: absolute;
        top: 20px;
        right: 15px; }
      #detail_modal .modal-dialog .modal-content .edit_btn_submit, #answer_modal .modal-dialog .modal-content .edit_btn_submit, #agency_detail_modal .modal-dialog .modal-content .edit_btn_submit, #agency_add_modal .modal-dialog .modal-content .edit_btn_submit {
        display: none;
        position: absolute;
        top: 20px;
        right: 15px; }
      #detail_modal .modal-dialog .modal-content .btn_group, #answer_modal .modal-dialog .modal-content .btn_group, #agency_detail_modal .modal-dialog .modal-content .btn_group, #agency_add_modal .modal-dialog .modal-content .btn_group {
        text-align: center; }
        #detail_modal .modal-dialog .modal-content .btn_group div, #answer_modal .modal-dialog .modal-content .btn_group div, #agency_detail_modal .modal-dialog .modal-content .btn_group div, #agency_add_modal .modal-dialog .modal-content .btn_group div {
          display: inline-block;
          padding: 0px 1em 0px 1em; }
      #detail_modal .modal-dialog .modal-content .input_max, #answer_modal .modal-dialog .modal-content .input_max, #agency_detail_modal .modal-dialog .modal-content .input_max, #agency_add_modal .modal-dialog .modal-content .input_max {
        width: 90%; }
      #detail_modal .modal-dialog .modal-content .input_harf, #answer_modal .modal-dialog .modal-content .input_harf, #agency_detail_modal .modal-dialog .modal-content .input_harf, #agency_add_modal .modal-dialog .modal-content .input_harf {
        width: 45%; }
      #detail_modal .modal-dialog .modal-content .input_pref, #answer_modal .modal-dialog .modal-content .input_pref, #agency_detail_modal .modal-dialog .modal-content .input_pref, #agency_add_modal .modal-dialog .modal-content .input_pref {
        width: 10%; }
      #detail_modal .modal-dialog .modal-content .input_city, #answer_modal .modal-dialog .modal-content .input_city, #agency_detail_modal .modal-dialog .modal-content .input_city, #agency_add_modal .modal-dialog .modal-content .input_city {
        width: 15%; }
      #detail_modal .modal-dialog .modal-content .input_short, #answer_modal .modal-dialog .modal-content .input_short, #agency_detail_modal .modal-dialog .modal-content .input_short, #agency_add_modal .modal-dialog .modal-content .input_short {
        width: 25%; }
      #detail_modal .modal-dialog .modal-content .input_add_no, #answer_modal .modal-dialog .modal-content .input_add_no, #agency_detail_modal .modal-dialog .modal-content .input_add_no, #agency_add_modal .modal-dialog .modal-content .input_add_no {
        width: 14%; }
      #detail_modal .modal-dialog .modal-content .detail_edit, #answer_modal .modal-dialog .modal-content .detail_edit, #agency_detail_modal .modal-dialog .modal-content .detail_edit, #agency_add_modal .modal-dialog .modal-content .detail_edit {
        display: none; }
  #detail_modal .agency_th, #answer_modal .agency_th, #agency_detail_modal .agency_th, #agency_add_modal .agency_th {
    width: 20%; }

.content-block .tab_content {
  padding: 0 0 65px 0;
  clear: both;
  overflow: hidden;
  width: 80%;
  margin: 0 auto; }
  .content-block .tab_content .panel_block {
    width: 100%;
    margin: 0 auto; }
    .content-block .tab_content .panel_block .panel_content {
      border: solid 6px;
      border-color: #863333;
      border-radius: 15px;
      background-color: #f3e9e9;
      margin-bottom: 12px; }
      .content-block .tab_content .panel_block .panel_content h2 {
        font-size: 23px;
        font-weight: bold;
        padding: 10px 20px;
        position: relative; }
        .content-block .tab_content .panel_block .panel_content h2:after {
          content: '';
          background: url("../images/faq/arrow_bottom.png") no-repeat;
          position: absolute;
          right: 30px;
          width: 32px;
          height: 32px;
          top: 6px; }
      .content-block .tab_content .panel_block .panel_content h2.active:after {
        content: '';
        background: url(../images/faq/arrow_top.png) no-repeat;
        position: absolute;
        right: 30px;
        width: 32px;
        height: 32px;
        top: 6px; }
      .content-block .tab_content .panel_block .panel_content .panel_inner {
        display: none; }
        .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container {
          width: 96%;
          margin: 0 auto;
          padding-bottom: 22px; }
          .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list {
            border: solid 3px;
            border-color: #e0e0e0;
            border-radius: 10px;
            background-color: white;
            margin-bottom: 5px; }
            .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .question_item {
              position: relative;
              cursor: pointer; }
              .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .question_item:before {
                content: '';
                width: 22px;
                height: 22px;
                background: url(../images/faq/open_icon.png) no-repeat left top;
                background-size: cover;
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -11px; }
              .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .question_item a {
                color: #333;
                text-decoration: none;
                display: block;
                font-size: 1.7rem;
                font-weight: bold;
                line-height: 1.2;
                padding: 20px 50px 20px 70px;
                position: relative;
                pointer-events: none; }
                .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .question_item a .q_icon {
                  position: absolute;
                  left: 20px;
                  top: 50%;
                  margin-top: -17px;
                  font-size: 2rem;
                  line-height: 1;
                  text-align: center;
                  font-weight: normal;
                  background: #73797b;
                  width: 34px;
                  height: 34px;
                  box-sizing: border-box;
                  letter-spacing: -0.05em;
                  border-radius: 18px;
                  padding-top: 5px;
                  color: white;
                  padding-right: 3px; }
            .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .open:before {
              content: '';
              width: 22px;
              height: 22px;
              background: url(../images/faq/close_icon.png) no-repeat left top;
              background-size: cover;
              position: absolute;
              right: 20px;
              top: 50%;
              margin-top: -11px; }
            .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .answer_item {
              display: none;
              position: relative;
              padding: 0 20px 0 60px; }
              .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .answer_item .answer_txt {
                padding: 3px 0 20px 4px;
                font-size: 1.6rem; }
              .content-block .tab_content .panel_block .panel_content .panel_inner .elec_qa_container .faq_list .answer_item:after {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background: url(../images/faq/answer_icon.png) no-repeat left top;
                background-size: cover;
                left: 23px;
                top: 0; }

#answer_modal .modal-dialog {
  position: relative;
  top: 180px; }
  #answer_modal .modal-dialog .modal-content h3 {
    text-align: center; }

.soumu-block {
  width: 80%;
  margin: 0 auto; }

/*# sourceMappingURL=common.css.map */
